@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Phudu:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Phudu:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Phudu:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "ubuntu";
    color: black;
    background-color: whitesmoke;
}

nav{
    height: 85px;
    width: 100%;
    background-color:  rgb(118, 116, 116);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Phudu";
    font-weight: 800;
    cursor: pointer;
    text-shadow:  rgb(95, 95, 95) 5px 5px 8px;
    font-size: 3rem;
}
.mainsection{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.time{
    font-family: 'orbitron';
    font-size:15rem;
    font-weight: 800;
}
#date{
    font-family: "orbitron";
    font-size: 4rem;
}
.othertext{
    font-size: 2rem;
}